@font-face {
    font-family: 'Montserrat';
    src: url('../font/transfonter.org-20240203-054303/');
    src: url('../font/transfonter.org-20240203-054303/?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20240203-054303/Montserrat-Medium.woff2') format('woff2'),
        url('../font/transfonter.org-20240203-054303/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/transfonter.org-20240203-054303/Montserrat-ExtraBold.eot');
    src: url('../font/transfonter.org-20240203-054303/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20240203-054303/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/transfonter.org-20240203-054303/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/transfonter.org-20240203-054303/Montserrat-Bold.eot');
    src: url('../font/transfonter.org-20240203-054303/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20240203-054303/Montserrat-Bold.woff2') format('woff2'),
        url('../font/transfonter.org-20240203-054303/Montserrat-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/transfonter.org-20240203-054303/Montserrat-SemiBold.eot');
    src: url('../font/transfonter.org-20240203-054303/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/transfonter.org-20240203-054303/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/transfonter.org-20240203-054303/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

    